*{
    padding: 0;
    margin: 0;
}

body header nav{
    font-family: 'Chakra Petch', sans-serif;
    text-align: right;
    color: white;
}

h1{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    }

a { 
    text-decoration: none;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

p{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    width: 330px;
    height: fit-content;
}

ul{
    list-style-type: none;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

nav{
    position: relative;
    height: 75px;
    width: 100%;
    background-color: rgba(192, 24, 94, 0.384);
}

#back_index{
    background-image: url(../img/carbon_fiber.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#back_pages{
    background-image: url(../img/prisma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navlock{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px; 
    z-index: 100; 
}

.fixed{
    position: fixed;
    right: 0%;
    z-index: 100;
}

.logo{
    display: flex;
    position: fixed;
    left: 10px;
    width: 5%;
    height: 10%;
    min-height: 1%;
    min-width: 1%;
    z-index: 100;
}

.buttons{
    position: relative;
    right: 70%;
    top: 25px;
}

.banner {
    display: flex;
    position: relative;
    bottom: 200px;
    height: 500px;
    width: 100%;
    min-width: 25%;
}

.fraban {
    display: flex;
    position:relative; 
    z-index: 90; 
    top: 150px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 500%;
    min-width: 10%;
}

.navi {
    display: flex;
    min-width: 20%;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.bancont{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 5%;
    bottom: 150px; 
    background-color: rgba(240, 248, 255, 0.589);
    height: 60%;
    width: 15%;
    min-height: 20%;
    min-width: 20%;
}

.cencont{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 10px;
    padding: 2%;
    bottom: 150px;
    background-color: rgba(240, 248, 255, 0.589);
    height: 50%;
    width: 65%;
}

.backim{
    position: relative;
    top: 5%;
    background-color: rgba(240, 248, 255, 0.432);
}

.imgtbo{
    min-width: 10%;
}

.imgtbt{
    min-width: 10%;
}

.imgtbe{
    min-width: 10%;
}

.fir{
    position: relative;
    width: 30%;
    height: 30%;
    min-width: 10%;
    min-height: 10%;
}

.two{

}

.thr{
     
}

.imgconto{
    display: flex;
    flex-wrap: wrap;
    position: relative ;
    padding: 5%;
    background-color: rgba(125, 189, 22, 0.555);
    width: 100%;
    height: 25%;
    min-width: 20%;
    min-height: 20%;
}

.imgt{
    position: relative;
    width: 40%;
    height: 40%;
    min-width: 20%;
}

.parin{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding-top: 2%;
    background-color: rgba(0, 0, 255, 0.322);
    min-width: 10%;
    min-height: 10%;
    width: 50%;
    height: 50%;
}


/* Estructura de estilo del footer*/

.foot{
    display: flex;
    background-color: rgba(240, 248, 255, 0.377);
}

.social{
 position: relative;
 width: 30%;
 height: 25%;
 min-height: 1%;
 min-width: 1%;
}

.mapa{
    position: relative;
    padding: 2px;
    height: 50%;
    min-height: 10%;
    min-height: 10%;
    background-color: rgba(0, 136, 255, 0.562);
}
    

@media (max-width: 768px){
  
   }
    
  
@media (min-width: 769px) {
    
  }
